* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(78, 75, 75);
}
.productConatiner {
  display: block;
}
.navigation {
  display: flex;
  position: fixed;
  width: 100vw;
  justify-content: space-between;
  padding: 30px;
  background-color: rgb(15, 13, 13);
  font-size: 25px;
}
.navigation a {
  text-decoration: none;
  color: rgb(120, 71, 255);
}
.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 100px;
}
.product {
  display: block;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.product img {
  height: 200px;
}
.product button {
  background: rgb(71, 83, 255);
  border: none;
  outline: none;
  color: rgb(44, 41, 41);
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
}
.product h4 {
  width: 200px;
}

/* cart */

.cartcontainer {
  display: block;
}
.cartcontainer a {
  color: rgb(166, 71, 255);
  font-size: 35px;
  text-decoration: none;
  margin: 40px;
}
.cart {
  padding: 50px;
}
.cartcad {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background: rgb(255, 255, 255);
  padding: 20px;
}
.cartcad img {
  width: 200px;
}
.cartcad button {
  background: rgb(146, 25, 25);
  border: none;
  outline: none;
  color: rgb(12, 11, 11);
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
}
